{% extends "panel/base.html" %}
{% load base_extras %}
{% load static from staticfiles %}

{% block panel_content %}
    <p>Dostępne są zestawienia całoroczne. Po naciśnięniu na poniższy button wybież z listy odpowiedni rok.</p>
    <div style="height: 200px;">
        <div class="btn-group">
            <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">Eksportuj rok <span
                    class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for year in years %}
                <li><a href="{% url panel_export year %}">{{ year }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}