{% extends "panel/base.html" %}
{% load static from staticfiles %}

{% block panel_content %}
    <ul class="breadcrumb">
        <li><a href="{% url panel_komunikaty %}">Komunikaty</a> <span class="divider">/</span></li>
        <li class="active">{{ news.tytul|truncatechars:20 }}</li>
    </ul>
    <div class="well">
        <h3>{{ news.tytul }}</h3>
        <p>{{ news.tresc }}</p>
        <br />
        Dodane {{ news.data }}
    </div>
    <hr>
    <ul class="pager">
        {% if prev %}
            <li class="previous">
                <a id="prev_page" href="{% url panel_komunikat prev.pk %}">&larr; Starszy</a>
            </li>
        {% else %}
            <li class="previous disabled">
                <a href="#">&larr; Starszy</a>
            </li>
        {% endif %}
        {% if next %}
            <li class="next">
                <a id="next_page" href="{% url panel_komunikat next.pk %}">Nowszy &rarr;</a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="#">Nowszy &rarr;</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block js %}
    <script src="{% static "js/arrows.js" %}"></script>
{% endblock %}