{% extends "panel/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block panel_content %}
    {% if newsy %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="10%">#</th>
                <th width="65%">Tytuł</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            {% for news in newsy %}
                <tr>
                    <td>{{ forloop.counter|add:newsy.start_index|add:-1 }}</td>
                    <td><a href="{% url panel_komunikat news.pk %}">{{ news.tytul|truncatechars:50 }}</a></td>
                    <td>{{ news.data|date:"D d M Y" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                {% if newsy.has_previous %}
                    <li><a id="prev_page" href="?page={{ newsy.previous_page_number }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
                {% else %}
                    <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
                {% endif %}
                {% for page in pages %}
                    {% if page %}
                        {% ifequal page newsy.number %}
                            <li class="current page active"><a href="#">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if newsy.has_next %}
                    <li><a id="next_page" href="?page={{ newsy.next_page_number }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
                {% else %}
                    <li class="disabled next"><a href="#">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        Brak komunikatów
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static "js/arrows.js" %}"></script>
{% endblock %}