{% extends "panel/oplaty_base.html" %}
{% load base_extras %}
{% load static from staticfiles %}

{% block oplaty_content %}
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
        $(function() {
            var series_data = [];

            {% for k, oplaty_type in oplaty %}
            series_data[series_data.length] = {
                name: "{{ oplaty_type.0.oplaty_type.name }}",
                visible: {% if forloop.counter0 < 3 %}true{% else %}false{% endif %},
                data: [{% for o in oplaty_type %}
                    [{{ o.data_platnosci|date:"U" }}*1000,{{ o.saldo }}]{% if not forloop.last %},{% endif %}
                {% endfor %}]
            };
            {% endfor %}

            // suma
            series_data[series_data.length] = {
                name: "SUMA OPŁAT",
                visible: false,
                data: [{% for data in oplata_suma %}
                    [{{ data.data_platnosci|date:"U" }}*1000,{{ data.sum|floatformat:0 }}]{% if not forloop.last %},{% endif %}
                {% endfor %}]
            };

            // wplaty
            series_data[series_data.length] = {
                name: "SUMA WPŁAT",
                visible: false,
                data: [{% for data in wplaty_suma %}
                    [{{ data.data_wplaty|date:"U" }}*1000,{{ data.sum|floatformat:0 }}]{% if not forloop.last %},{% endif %}
                {% endfor %}]
            };

            window.chart = new Highcharts.StockChart({
                chart: {
                    renderTo: 'container'
                },
                credits : {
                    enabled : false
                },
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                },
                rangeSelector : {
                    buttons : [{
                        type : 'month',
                        count : 3,
                        text : '3m'
                    }, {
                        type : 'month',
                        count : 6,
                        text : '6m'
                    },{
                        type : 'month',
                        count : 12,
                        text : '1y'
                    }, {
                        type : 'all',
                        count : 1,
                        text : 'All'
                    }],
                    selected : 0,
                    inputEnabled : false
                },
                legend: {
                    enabled: true,
                    verticalAlign: 'top'
                },
                yAxis: {
                    title: {
                        text: 'Opłata [PLN]'
                    }
                },
                xAxis: {
                    title: {
                        text: 'Data'
                    }
                },
                title: {
                    text: ''
                },

                series: series_data
            });
        });
    </script>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
{% endblock %}