{% extends "panel/base.html" %}
{% load base_extras %}
{% load static from staticfiles %}

{% block panel_content %}
    <div class="row-fluid">
        <div class="span12 centered-pills">
            <ul class="nav nav-pills">
                <li class="{% navactive request 'panel_oplaty' %}"><a href="{% url panel_oplaty %}">Tabela</a></li>
                <li class="{% navactive request 'panel_oplaty_chart_1' %}"><a href="{% url panel_oplaty_chart_1 %}">Wykres #1</a></li>
                <li><a href="#">Wykres #2</a></li>
                <li><a href="#">Statystyki</a></li>
            </ul>
        </div>
    </div>
    {% block oplaty_content %}{% endblock %}
{% endblock %}

{% block js %}
    <script src="{% static "js/report.js" %}"></script>
{% endblock %}